.btn-medium {
  color: #69779b;
  border: 1px solid #69779b;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 15px;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #69779b;
}
